<%-include('../partials/head', {title: "Messages" }) %>
  <%-include('../partials/navbarUpload') %>


    <div class="homeMainRow chatHide">
      <div class="firstColumnHome okCheck">
        <div class="homeOptions">
          <a href="/feed">
            <div class="indvidualOption" onclick="changeColor(this)">
              <svg id="svg1" viewBox="0 0 1024 1024" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M512 128 128 447.936V896h255.936V640H640v256h255.936V447.936z" />
              </svg>

              <p class="homeOptionText">Home</p>
            </div>
          </a>
          <a href="/likedVideos">
            <div class="indvidualOption" onclick="changeColor(this)">
              <svg id="svg2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M21.9375 7.51125C21.7263 7.27193 21.4666 7.08028 21.1757 6.94903C20.8847 6.81778 20.5692 6.74994 20.25 6.75H15V5.25C15 4.25544 14.6049 3.30161 13.9017 2.59835C13.1984 1.89509 12.2446 1.5 11.25 1.5C11.1107 1.4999 10.9741 1.53862 10.8555 1.61181C10.7369 1.685 10.6411 1.78977 10.5787 1.91438L7.03687 9H3C2.60218 9 2.22064 9.15804 1.93934 9.43934C1.65804 9.72064 1.5 10.1022 1.5 10.5V18.75C1.5 19.1478 1.65804 19.5294 1.93934 19.8107C2.22064 20.092 2.60218 20.25 3 20.25H19.125C19.6732 20.2502 20.2025 20.0503 20.6137 19.6878C21.0249 19.3253 21.2896 18.8251 21.3581 18.2812L22.4831 9.28125C22.523 8.9644 22.495 8.64268 22.4009 8.3375C22.3068 8.03232 22.1488 7.75066 21.9375 7.51125ZM3 10.5H6.75V18.75H3V10.5ZM20.9944 9.09375L19.8694 18.0938C19.8465 18.275 19.7583 18.4418 19.6212 18.5626C19.4842 18.6834 19.3077 18.7501 19.125 18.75H8.25V9.92719L11.6916 3.04313C12.2016 3.14521 12.6606 3.4209 12.9903 3.82326C13.32 4.22562 13.5001 4.7298 13.5 5.25V7.5C13.5 7.69891 13.579 7.88968 13.7197 8.03033C13.8603 8.17098 14.0511 8.25 14.25 8.25H20.25C20.3564 8.24996 20.4616 8.27258 20.5587 8.31634C20.6557 8.36011 20.7423 8.42402 20.8127 8.50383C20.8831 8.58363 20.9357 8.67752 20.967 8.77923C20.9984 8.88094 21.0077 8.98816 20.9944 9.09375Z" />
              </svg>
              <p class="homeOptionText">Liked</p>
            </div>
          </a>
          <a href="/savedVideos">
            <div class="indvidualOption" onclick="changeColor(this)">
              <svg id="svg3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M17.25 3H6.75C6.35218 3 5.97064 3.15804 5.68934 3.43934C5.40804 3.72064 5.25 4.10217 5.25 4.5V21C5.25007 21.1338 5.28595 21.2652 5.35393 21.3805C5.42191 21.4958 5.5195 21.5908 5.63659 21.6557C5.75367 21.7206 5.88598 21.7529 6.01978 21.7494C6.15358 21.7458 6.284 21.7066 6.3975 21.6356L12 18.1341L17.6034 21.6356C17.7169 21.7063 17.8472 21.7454 17.9809 21.7488C18.1146 21.7522 18.2467 21.7198 18.3636 21.655C18.4806 21.5902 18.5781 21.4952 18.646 21.3801C18.7139 21.2649 18.7498 21.1337 18.75 21V4.5C18.75 4.10217 18.592 3.72064 18.3107 3.43934C18.0294 3.15804 17.6478 3 17.25 3ZM17.25 19.6472L12.3966 16.6144C12.2774 16.5399 12.1396 16.5004 11.9991 16.5004C11.8585 16.5004 11.7208 16.5399 11.6016 16.6144L6.75 19.6472V4.5H17.25V19.6472Z" />
              </svg>
              <p class="homeOptionText">Shortlisted</p>
            </div>
          </a>
          <a href="/chat">
            <div class="indvidualOption" onclick="changeColor(this)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M21.75 6V18C21.75 18.3978 21.592 18.7794 21.3107 19.0607C21.0294 19.342 20.6478 19.5 20.25 19.5H7.7344L4.7269 22.1353C4.72328 22.1392 4.71919 22.1427 4.71471 22.1456C4.44537 22.3744 4.10344 22.5 3.75003 22.5C3.52997 22.4996 3.31268 22.451 3.11346 22.3575C2.85434 22.2381 2.63511 22.0465 2.48198 21.8058C2.32886 21.5651 2.24833 21.2853 2.25003 21V6C2.25003 5.60218 2.40806 5.22064 2.68937 4.93934C2.97067 4.65804 3.3522 4.5 3.75003 4.5H20.25C20.6478 4.5 21.0294 4.65804 21.3107 4.93934C21.592 5.22064 21.75 5.60218 21.75 6Z"
                  fill="#5C47CD" />
              </svg>
              <p class="homeOptionText optionClicked">Messages</p>
            </div>
          </a>
        </div>
        <div class="tagAndRecentView">
          <div class="homeTags">
            <div class="homeIndvidualTag">
              <div class="homeTagDropDown">
                <span class="dropDownSvg" id="dropdownLabel">View More
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path
                      d="M15.5233 7.14804L9.89828 12.773C9.84604 12.8253 9.784 12.8668 9.71572 12.8951C9.64743 12.9234 9.57423 12.938 9.50031 12.938C9.42639 12.938 9.3532 12.9234 9.28491 12.8951C9.21662 12.8668 9.15458 12.8253 9.10234 12.773L3.47734 7.14804C3.3718 7.04249 3.3125 6.89934 3.3125 6.75007C3.3125 6.6008 3.3718 6.45765 3.47734 6.3521C3.58289 6.24655 3.72605 6.18726 3.87531 6.18726C4.02458 6.18726 4.16773 6.24655 4.27328 6.3521L9.50031 11.5798L14.7273 6.3521C14.7796 6.29984 14.8417 6.25838 14.9099 6.2301C14.9782 6.20181 15.0514 6.18726 15.1253 6.18726C15.1992 6.18726 15.2724 6.20181 15.3407 6.2301C15.409 6.25838 15.471 6.29984 15.5233 6.3521C15.5755 6.40436 15.617 6.46641 15.6453 6.53469C15.6736 6.60297 15.6881 6.67616 15.6881 6.75007C15.6881 6.82398 15.6736 6.89716 15.6453 6.96545C15.617 7.03373 15.5755 7.09578 15.5233 7.14804Z"
                      fill="#605D62" />
                  </svg>
                </span>
                <div class="homeTagDropDown-content" id="dropdownContent">
                  <p>UX Design</p>
                  <p>Web Developer</p>
                  <p>WordPress</p>
                  <p>Marketing</p>


                </div>
              </div>
            </div>
            <div class="homeIndvidualTag">UX Design</div>
            <div class="homeIndvidualTag">UI design</div>
            <div class="homeIndvidualTag">Web Developer</div>
            <div class="homeIndvidualTag">WordPress</div>
            <div class="homeIndvidualTag">User Centered Design</div>
            <div class="homeIndvidualTag">Front-end</div>
            <div class="homeIndvidualTag">Marketing</div>


          </div>
          <% if (true) { %>
            <h2 class="recentViewsHeading">Recently Viewed</h2>
            <div class="recentViews">

              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view1.png" alt="">

                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Ali Akbar</h3>
                    <p class="daysViewer">1 Day Ago</p>
                  </div>

                </div>

                <div class="badgesViewers">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                      fill="#2C9449" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z"
                      fill="#002FD8" />
                  </svg>



                </div>
              </div>


              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view2.png" alt="">

                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Fatima</h3>
                    <p class="daysViewer">3 Day Ago</p>
                  </div>

                </div>

                <div class="badgesViewers">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                      fill="#2C9449" />
                  </svg>
                </div>
              </div>

              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view3.png" alt="">

                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Khadija</h3>
                    <p class="daysViewer">A week Ago</p>
                  </div>

                </div>

                <div class="badgesViewers">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M11.25 3V2.25C11.25 2.05109 11.329 1.86032 11.4697 1.71967C11.6103 1.57902 11.8011 1.5 12 1.5C12.1989 1.5 12.3897 1.57902 12.5303 1.71967C12.671 1.86032 12.75 2.05109 12.75 2.25V3C12.75 3.19891 12.671 3.38968 12.5303 3.53033C12.3897 3.67098 12.1989 3.75 12 3.75C11.8011 3.75 11.6103 3.67098 11.4697 3.53033C11.329 3.38968 11.25 3.19891 11.25 3ZM18.75 6C18.8485 6.00008 18.9461 5.98074 19.0371 5.9431C19.1282 5.90546 19.2109 5.85025 19.2806 5.78062L20.0306 5.03062C20.1714 4.88989 20.2504 4.69902 20.2504 4.5C20.2504 4.30098 20.1714 4.11011 20.0306 3.96938C19.8899 3.82864 19.699 3.74958 19.5 3.74958C19.301 3.74958 19.1101 3.82864 18.9694 3.96938L18.2194 4.71938C18.1144 4.82427 18.0428 4.95796 18.0139 5.10352C17.9849 5.24908 17.9997 5.39998 18.0565 5.53709C18.1133 5.67421 18.2096 5.79139 18.333 5.87379C18.4565 5.95619 18.6016 6.00012 18.75 6ZM4.71938 5.78062C4.78906 5.85031 4.87178 5.90558 4.96283 5.9433C5.05387 5.98101 5.15145 6.00042 5.25 6.00042C5.34855 6.00042 5.44613 5.98101 5.53717 5.9433C5.62822 5.90558 5.71094 5.85031 5.78062 5.78062C5.85031 5.71094 5.90558 5.62822 5.9433 5.53717C5.98101 5.44613 6.00042 5.34855 6.00042 5.25C6.00042 5.15145 5.98101 5.05387 5.9433 4.96283C5.90558 4.87178 5.85031 4.78906 5.78062 4.71938L5.03062 3.96938C4.88989 3.82864 4.69902 3.74958 4.5 3.74958C4.30098 3.74958 4.11011 3.82864 3.96938 3.96938C3.82864 4.11011 3.74958 4.30098 3.74958 4.5C3.74958 4.69902 3.82864 4.88989 3.96938 5.03062L4.71938 5.78062ZM21.75 18V20.25C21.75 20.6478 21.592 21.0294 21.3107 21.3107C21.0294 21.592 20.6478 21.75 20.25 21.75H3.75C3.35218 21.75 2.97064 21.592 2.68934 21.3107C2.40804 21.0294 2.25 20.6478 2.25 20.25V18C2.25 17.6022 2.40804 17.2206 2.68934 16.9393C2.97064 16.658 3.35218 16.5 3.75 16.5V13.5C3.74997 12.4113 3.96542 11.3333 4.38395 10.3283C4.80247 9.32323 5.41579 8.41096 6.18853 7.64405C6.96128 6.87714 7.87818 6.27076 8.88638 5.85987C9.89458 5.44898 10.9741 5.24171 12.0628 5.25C16.5769 5.28375 20.25 9.02719 20.25 13.5938V16.5C20.6478 16.5 21.0294 16.658 21.3107 16.9393C21.592 17.2206 21.75 17.6022 21.75 18ZM12.6262 9.73969C14.4066 10.0387 15.75 11.655 15.75 13.5C15.75 13.6989 15.829 13.8897 15.9697 14.0303C16.1103 14.171 16.3011 14.25 16.5 14.25C16.6989 14.25 16.8897 14.171 17.0303 14.0303C17.171 13.8897 17.25 13.6989 17.25 13.5C17.25 10.9312 15.3684 8.67844 12.8738 8.26031C12.7762 8.24306 12.6762 8.24531 12.5795 8.26693C12.4828 8.28855 12.3913 8.32911 12.3104 8.38627C12.2295 8.44343 12.1607 8.51606 12.108 8.59997C12.0553 8.68387 12.0198 8.77738 12.0034 8.8751C11.9871 8.97282 11.9902 9.07281 12.0128 9.16929C12.0353 9.26577 12.0767 9.35684 12.1346 9.43723C12.1925 9.51762 12.2658 9.58574 12.3502 9.63765C12.4345 9.68957 12.5284 9.72425 12.6262 9.73969ZM20.25 20.25V18H3.75V20.25H20.25Z"
                      fill="#D74E30" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                      fill="#2C9449" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z"
                      fill="#002FD8" />
                  </svg>

                </div>
              </div>

              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view4.png" alt="">

                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Husnain</h3>
                    <p class="daysViewer">A Week Ago</p>
                  </div>

                </div>

                <div class="badgesViewers">
                </div>
              </div>

              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view5.png" alt="">
                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Laiba</h3>
                    <p class="daysViewer">A Week Ago</p>
                  </div>
                </div>
                <div class="badgesViewers">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z"
                      fill="#002FD8" />
                  </svg>
                </div>
              </div>

              <div class="indvidualRecentView">
                <div class="nameAndProfile">
                  <div class="recentViewPic">
                    <img src="/images/view6.png" alt="">
                  </div>
                  <div class="nameAndDays">
                    <h3 class="nameViewer">Arsalan</h3>
                    <p class="daysViewer">A Month Ago</p>
                  </div>
                </div>
                <div class="badgesViewers">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z"
                      fill="#002FD8" />
                  </svg>
                </div>
              </div>


            </div>
            <% } else { %>

              <% } %>

        </div>
      </div>

      <div class="chatUsers">
        <div id="chatOne" class="chatIndvidualUser" onclick="selectChat('chatOne')">
          <div class="recentViewPic">
            <img src="/images/view1.png" alt="">

          </div>
          <div class="idvidualChatColumn">
            <h3 class="nameViewer">Ali Akbar</h3>
            <p class="chatOverview">Hi!</p>
          </div>
          <p class="chatTime">3 min ago</p>
        </div>
        <div id="chatTwo" class="chatIndvidualUser" onclick="selectChat('chatTwo')">
          <div class="recentViewPic">
            <img src="/images/view1.png" alt="">

          </div>
          <div class="idvidualChatColumn">
            <h3 class="nameViewer">Abrar</h3>
            <p class="chatOverview">What's Up?</p>
          </div>
          <p class="chatTime">10 min ago</p>
        </div>
      </div>
      <div class="chatSection">
        <div class="chatSectionTop">
          <div class="chatPersonimg">
            <span class="userStatus offline"></span>
            <img src="">
          </div>
          <h3 class="nameViewerChat">

          </h3>

        </div>

        <div class="chatMain">
          <!-- Generated Dynamically -->
        </div>
        <div class="chatSectionBoottom">
          <input type="text" name="msg" id="msg" placeholder="Write a message...">
          <button class="sendChat"> Send &nbsp; &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
              viewBox="0 0 18 18" fill="none">
              <path
                d="M15.7419 8.01561L3.92943 1.27335C3.73031 1.16165 3.50193 1.11318 3.27461 1.13437C3.04729 1.15557 2.8318 1.24542 2.65676 1.392C2.48172 1.53857 2.35542 1.73494 2.29464 1.955C2.23386 2.17506 2.24147 2.40841 2.31646 2.62405L4.49615 8.98522C4.49587 8.98756 4.49587 8.98992 4.49615 8.99225C4.49575 8.99458 4.49575 8.99696 4.49615 8.99929L2.31646 15.3745C2.2564 15.5441 2.23791 15.7257 2.26254 15.904C2.28717 16.0822 2.35419 16.252 2.458 16.3989C2.5618 16.5459 2.69934 16.6659 2.85909 16.7487C3.01884 16.8315 3.19612 16.8748 3.37607 16.875C3.5713 16.8745 3.76311 16.8236 3.93294 16.7273L15.7391 9.97382C15.9133 9.87626 16.0583 9.73413 16.1594 9.562C16.2605 9.38987 16.3139 9.19395 16.3143 8.99434C16.3147 8.79472 16.2619 8.59861 16.1614 8.42612C16.061 8.25363 15.9164 8.11098 15.7426 8.0128L15.7419 8.01561ZM3.37607 15.75V15.7437L5.49529 9.56249H9.56357C9.71275 9.56249 9.85583 9.50323 9.96132 9.39774C10.0668 9.29225 10.1261 9.14917 10.1261 8.99999C10.1261 8.8508 10.0668 8.70773 9.96132 8.60224C9.85583 8.49675 9.71275 8.43749 9.56357 8.43749H5.50091L3.38029 2.25843L3.37607 2.24999L15.1886 8.98804L3.37607 15.75Z"
                fill="white" />
            </svg></button>
        </div>
      </div>

    </div>
    <div class="chatUsersSmallScreen">
      <div id="chatOne" class="chatIndvidualUser" onclick="selectChat('chatOne')">
        <div class="recentViewPic">
          <img src="/images/view1.png" alt="">

        </div>
        <div class="idvidualChatColumn">
          <h3 class="nameViewer">Ali Akbar</h3>
          <p class="chatOverview">Hi!</p>
        </div>
        <p class="chatTime">3 min ago</p>
      </div>
      <div id="chatTwo" class="chatIndvidualUser" onclick="selectChat('chatTwo')">
        <div class="recentViewPic">
          <img src="/images/view1.png" alt="">

        </div>
        <div class="idvidualChatColumn">
          <h3 class="nameViewer">Abrar</h3>
          <p class="chatOverview">What's Up?</p>
        </div>
        <p class="chatTime">10 min ago</p>
      </div>
    </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io(); // Connect to Socket.IO server
      const userId = '<%= userId %>';
      const recipientId = '<%= recipientId %>';
      let recipientOnline = false;
    
      // Function to handle message sending
      function sendMessage() {
        const messageContent = document.getElementById('msg').value;
        if (messageContent.trim()) {
          socket.emit('sendMessage', {
            senderId: userId,
            recipientId,
            content: messageContent,
          });
          if (!recipientOnline) {
          appendMessage(messageContent, 'chatSend');
          } else {
          appendMessage(messageContent, 'chatSend');
          }
          document.getElementById('msg').value = ''; 
        }
      }
    
      document.querySelector('.sendChat').addEventListener('click', sendMessage);
      document.getElementById('msg').addEventListener('keydown', (event) => {
        if (event.key === 'Enter' && !event.shiftKey) {
          event.preventDefault(); 
          sendMessage();
        }
      });
    
      s
      socket.on('receiveMessage', (data) => {
        if (data.senderId !== userId) {
          appendMessage(data.content, 'chatIncomming');
        }
      });
    
      // Function to append messages to the chat UI
      function appendMessage(content, messageClass) {
        const chatMain = document.querySelector('.chatMain');
        const messageElement = document.createElement('div');
        messageElement.classList.add(messageClass);
        const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        messageElement.innerHTML = `
          ${content}
          <div class="timeMessage"><p class="chatTime ${messageClass === 'chatSend' ? 'sendMsgColor' : ''}">${currentTime}</p></div>
        `;
        chatMain.appendChild(messageElement);
        chatMain.scrollTop = chatMain.scrollHeight;
      }
    

      socket.on('userStatusChanged', ({ userId, status }) => {
        if (userId === recipientId) {
          recipientOnline = (status === 'online');
          updateStatusIndicator(status);
        }
      });
      function updateStatusIndicator(status) {
        const statusElement = document.querySelector('.userStatus');
        if (statusElement) {
          statusElement.className = 'userStatus ' + status;
        }
      }
 
      fetch(`/getUserDetails/${recipientId}`)
        .then(response => response.json())
        .then(data => {
          if (data && data.name && data.profilePicture) {
            document.querySelector('.nameViewerChat').textContent = data.name;
            document.querySelector('.chatPersonimg img').src = data.profilePicture;
          }
        })
        .catch(error => console.error('Error fetching user details:', error));
    </script>
    
    
    </html>
    <%- include('../partials/bottomNav') %>