
 
 
<%-include('../partials/head', {title: "Homepage"}) %>

<%-include('../partials/navbar') %>


  <!-- Hero Section Start -->
  <div class="indexPage">
  <h2 class="topHeading">Hire the perfect talent for <br> your company!</h2>
  <p class="topPara">Search amongst the 1000+ active users on Pakistan’s #1 hiring platform</p>
  <div class="search">
    <form class="form">
      <label for="search">
        <input required="" autocomplete="off" placeholder="Search" id="search" type="text">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g opacity="0.6">
            <path d="M21.5308 20.4696L16.8368 15.7765C18.1973 14.1431 18.8757 12.048 18.7309 9.92715C18.5861 7.80629 17.6293 5.82289 16.0593 4.38956C14.4894 2.95623 12.4274 2.18333 10.3021 2.23163C8.17687 2.27993 6.15205 3.14571 4.64888 4.64888C3.14571 6.15205 2.27993 8.17687 2.23163 10.3021C2.18333 12.4274 2.95623 14.4894 4.38956 16.0593C5.82289 17.6293 7.80629 18.5861 9.92715 18.7309C12.048 18.8757 14.1431 18.1973 15.7765 16.8368L20.4696 21.5308C20.5393 21.6005 20.622 21.6558 20.713 21.6935C20.8041 21.7312 20.9017 21.7506 21.0002 21.7506C21.0988 21.7506 21.1963 21.7312 21.2874 21.6935C21.3784 21.6558 21.4612 21.6005 21.5308 21.5308C21.6005 21.4612 21.6558 21.3784 21.6935 21.2874C21.7312 21.1963 21.7506 21.0988 21.7506 21.0002C21.7506 20.9017 21.7312 20.8041 21.6935 20.713C21.6558 20.622 21.6005 20.5393 21.5308 20.4696ZM3.75021 10.5002C3.75021 9.16519 4.14609 7.86015 4.88779 6.75011C5.62949 5.64008 6.6837 4.77492 7.9171 4.26403C9.1505 3.75314 10.5077 3.61946 11.8171 3.87991C13.1264 4.14036 14.3292 4.78324 15.2732 5.72724C16.2172 6.67125 16.8601 7.87398 17.1205 9.18335C17.381 10.4927 17.2473 11.8499 16.7364 13.0833C16.2255 14.3167 15.3603 15.3709 14.2503 16.1126C13.1403 16.8543 11.8352 17.2502 10.5002 17.2502C8.71061 17.2482 6.99488 16.5364 5.72944 15.271C4.464 14.0056 3.7522 12.2898 3.75021 10.5002Z" fill="#5C47CD"/>
            </g>
            </svg>
         
        </div>
        <button type="reset" class="close-btn">
          <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
          </svg>
        </button>
      </label>
    </form>
    <button class="btnFind">Find Talent</button>
  </div>
  <div class="suggestions">
    <div class="indvidualSugesstions">
      UX Design
    </div>
    <div class="indvidualSugesstions">
      UI Design
    </div>
    <div class="indvidualSugesstions">
      Web Development
    </div>
    <div class="indvidualSugesstions">
      Sales
    </div>
    <div class="indvidualSugesstions">
      Marketing
    </div>
  </div>
  <!-- Hero Section END -->
<%-include('../../Slider/slidertest') %>

  <!-- Platform You Need Start  -->
  <div class="customContainer  mt-1">
    <div class="platformContainer">
      <h2 class="platformHeading">The Only Platform You Need to Hire Top Talent</h2>
      <p class="platformHeadline">Hireddd lets you access 1000+ digital resumes with verified contact information</p>
      <div class="cardContainer">
        <div class="customCard">
          <div class="cardHead">
            <img class="cardImage" src="/images/development.png" />
          </div>
          <div class="cardBody">
            <h2 class="cardHeading">Development</h2>
            <p class="cardSubtitle">Highly skilled software engineers, coders, and architects with extensive proficiency in a wide range of technologies</p>
          </div>
        </div>
        <div class="customCard">
          <div class="cardHead">
            <img class="cardImage" src="/images/Brush.png" />
          </div>
          <div class="cardBody">
            <h2 class="cardHeading">Designing</h2>
            <p class="cardSubtitle">Specialized UI/UX, visual, and interaction designers, along with diverse talents such as illustrators, animators, and more.</p>
          </div>
        </div>
        <div class="customCard">
          <div class="cardHead">
            <img class="cardImage" src="/images/stock.png" />
          </div>
          <div class="cardBody">
            <h2 class="cardHeading">Sales & Marketing</h2>
            <p class="cardSubtitle">Experienced professionals with in-depth knowledge of financial management, accounting principles, budgeting, financial analysis, and financial planning.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Hiring Made Simple Start  -->
    <div class="customContainer">
      <div class="platformContainer">
        <h2 class="platformHeading">Hiring Made Simple</h2>
        <p class="hireHeadline">"Hireddd" revolutionizes the hiring process for all the recruiters out there, making it a simple and swift process to hire talent within minutes. Follow these three simple steps.</p>
        <div class="cardContainer cardcontainerForColumn">
          <div class="customCardHiring">
            <div class="cardHeading">
              <img class="cardImageHiring" src="/images/Page1.png" />
            </div>
            <div class="cardBodyHiring">
              <h2 class="cardHeadingHire">Create Your Account</h2>
              <p class="cardSubtitleHiring">Sign up and create your account: Join in a few clicks and explore countless talented candidates.</p>
            </div>
          </div>
          <div class="customCardArrow">
            <svg class="xaxisArrow" xmlns="http://www.w3.org/2000/svg" width="340" height="8" viewBox="0 0 340 8" fill="none">
              <path d="M1.46973 3.27153C1.19357 3.27153 0.969695 3.4954 0.969695 3.77156C0.969695 4.04772 1.19357 4.27159 1.46973 4.27159V3.27153ZM339.845 4.12514C340.04 3.92986 340.04 3.61326 339.845 3.41798L336.663 0.235802C336.467 0.0405276 336.151 0.0405276 335.955 0.235802C335.76 0.431077 335.76 0.747679 335.955 0.942954L338.784 3.77156L335.955 6.60017C335.76 6.79544 335.76 7.11204 335.955 7.30732C336.151 7.50259 336.467 7.50259 336.663 7.30732L339.845 4.12514ZM1.46973 4.27159H339.491V3.27153H1.46973V4.27159Z" fill="#7B68EE" />
            </svg>
            <svg class="yaxisArrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 9 82" fill="none">
              <path d="M5.00003 1C5.00003 0.72384 4.77616 0.499968 4.5 0.499968C4.22384 0.499968 3.99997 0.72384 3.99997 1L5.00003 1ZM4.14643 81.3536C4.3417 81.5489 4.6583 81.5489 4.85358 81.3536L8.03576 78.1714C8.23104 77.9761 8.23104 77.6595 8.03576 77.4642C7.84049 77.269 7.52388 77.269 7.32861 77.4642L4.5 80.2928L1.6714 77.4642C1.47612 77.269 1.15952 77.269 0.964245 77.4642C0.76897 77.6595 0.76897 77.9761 0.964245 78.1714L4.14643 81.3536ZM3.99997 1L3.99997 81L5.00004 81L5.00003 1L3.99997 1Z" fill="#7B68EE"/>
            </svg> 
          </div>
  
          <div class="customCardHiring">
            <div class="cardHeading">
              <img class="cardImageHiring" src="/images/Page2.png" />
            </div>
            <div class="cardBodyHiring">
              <h2 class="cardHeadingHire">Browse Talent</h2>
              <p class="cardSubtitleHiring">Access more than 1000+ digital resumes and thousands of daily job seekers to find qualified candidates.</p>
            </div>
          </div>
          <div class="customCardArrow">
            <svg class="xaxisArrow" xmlns="http://www.w3.org/2000/svg" width="340" height="8" viewBox="0 0 340 8" fill="none">
              <path d="M1.46973 3.27153C1.19357 3.27153 0.969695 3.4954 0.969695 3.77156C0.969695 4.04772 1.19357 4.27159 1.46973 4.27159V3.27153ZM339.845 4.12514C340.04 3.92986 340.04 3.61326 339.845 3.41798L336.663 0.235802C336.467 0.0405276 336.151 0.0405276 335.955 0.235802C335.76 0.431077 335.76 0.747679 335.955 0.942954L338.784 3.77156L335.955 6.60017C335.76 6.79544 335.76 7.11204 335.955 7.30732C336.151 7.50259 336.467 7.50259 336.663 7.30732L339.845 4.12514ZM1.46973 4.27159H339.491V3.27153H1.46973V4.27159Z" fill="#7B68EE" />
            </svg>
            <svg class="yaxisArrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 9 82" fill="none">
              <path d="M5.00003 1C5.00003 0.72384 4.77616 0.499968 4.5 0.499968C4.22384 0.499968 3.99997 0.72384 3.99997 1L5.00003 1ZM4.14643 81.3536C4.3417 81.5489 4.6583 81.5489 4.85358 81.3536L8.03576 78.1714C8.23104 77.9761 8.23104 77.6595 8.03576 77.4642C7.84049 77.269 7.52388 77.269 7.32861 77.4642L4.5 80.2928L1.6714 77.4642C1.47612 77.269 1.15952 77.269 0.964245 77.4642C0.76897 77.6595 0.76897 77.9761 0.964245 78.1714L4.14643 81.3536ZM3.99997 1L3.99997 81L5.00004 81L5.00003 1L3.99997 1Z" fill="#7B68EE"/>
            </svg> 
          </div>
          <div class="customCardHiring">
            <div class="cardHeading">
              <img class="cardImageHiring" src="/images/Page3.png" />
            </div>
            <div class="cardBodyHiring">
              <h2 class="cardHeadingHire">Hire Talent</h2>
              <p class="cardSubtitleHiring">Sit back and let "Hello Hire" connect you with relevant job offers tailored to your qualifications.</p>
            </div>
          </div>
        </div>
        <a href="#" class="hiringButton">Get Started</a>
      </div>
    </div>
    <!-- Hiring Made Simple End -->
  <!-- Platform You Need End  -->

  <div class="customContainer">
    
    
    <div class="foremplye">
      <h2 class="EmployeeHeading">Why Employees and Employers Embrace Hireddd</h2>
      <p class="EmployeeHeadline">Seamless hiring with Hireddd. The future of remote work recruitment. Trustworthy and reliable, it's the future of recruitment.</p>
<!-- ok -->
      <div class="forEmployeRow">
        <div class="forEmployeColumn">
          <div class="customCardEmployees">
            <h2 class="cardHeading">For Employe</h2>
            <p class="employeCardSubtitle">At Hireddd, we empower job seekers with one minute dynamic video resumes that leave a lasting impression on employers. Stand out from the competition and unlock exciting job opportunities. Join us today!</p>
            <div class="employeBottom">
              <p class="employeBottomText">
                Create Video
              </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="46px" height="15" viewBox="0 0 50 23" fill="none">
                <path d="M2 9.7793C1.17157 9.7793 0.5 10.4509 0.5 11.2793C0.5 12.1077 1.17157 12.7793 2 12.7793V9.7793ZM49.0607 12.34C49.6464 11.7542 49.6464 10.8044 49.0607 10.2186L39.5147 0.672695C38.9289 0.0869083 37.9792 0.0869083 37.3934 0.672695C36.8076 1.25848 36.8076 2.20823 37.3934 2.79402L45.8787 11.2793L37.3934 19.7646C36.8076 20.3504 36.8076 21.3001 37.3934 21.8859C37.9792 22.4717 38.9289 22.4717 39.5147 21.8859L49.0607 12.34ZM2 12.7793H48V9.7793H2V12.7793Z" fill="#7B68EE" />
              </svg>
            </div>
          </div>
          <div class="customCardEmployees">
            <h2 class="cardHeading">For Employe</h2>
            <p class="employeCardSubtitle">Simplify Hiring with Hireddd: Advanced Features for Perfect Talent Matches! <br>
              At Hireddd, we offer advanced employer features to streamline your hiring process. Find your perfect match effortlessly. Join us now!</p>
            <div class="employeBottom">
              <p class="employeBottomText">
                Create Video
              </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="46px" height="15" viewBox="0 0 50 23" fill="none">
                <path d="M2 9.7793C1.17157 9.7793 0.5 10.4509 0.5 11.2793C0.5 12.1077 1.17157 12.7793 2 12.7793V9.7793ZM49.0607 12.34C49.6464 11.7542 49.6464 10.8044 49.0607 10.2186L39.5147 0.672695C38.9289 0.0869083 37.9792 0.0869083 37.3934 0.672695C36.8076 1.25848 36.8076 2.20823 37.3934 2.79402L45.8787 11.2793L37.3934 19.7646C36.8076 20.3504 36.8076 21.3001 37.3934 21.8859C37.9792 22.4717 38.9289 22.4717 39.5147 21.8859L49.0607 12.34ZM2 12.7793H48V9.7793H2V12.7793Z" fill="#7B68EE" />
              </svg>
            
          </div>
        </div>
        </div>
        <div class="rightImgEmploye">
          <img src="/images/rightImg.svg" alt="">

        </div>
      </div>

    </div>
  </div>

  <!-- Testimonial Start  -->
  <div class="customContainer">
    <div class="testimonialContainer">
      <h2 class="testimonialHeading">Testimonial</h2>
      <p class="testimonialHeadline">What our thousands of users say about us. Thousands of companies use hireddd monthly and shortlist thousands of digital applicants daily</p>

    </div>
    <div class="platformContainer">
      <div class="cardContainer">
        <div class="customCardTestimonial">
          <div class="cardHeadTestimonial">
            <img class="cardImageTest" src="/images/quotes.svg" />
          </div>
          <p class="cardHeadingTestimonial">I had been searching for a new job for months with no luck, until I stumbled upon this amazing job site. Within a week of creating my profile, I received multiple interview requests and finally landed my dream job. This site is a game-changer for job seekers!</p>
          <div class="cardBodyTestimonial">
            <p class="cardNameTestimonial">-Rick Fast</p>
            <p class="cardEmployerTestimonial">Employer</p>
            <p class="cardDetailTestimonial">SVP of Engineering @ Expedia</p>
          </div>
        </div>
        <div class="customCardTestimonial">
          <div class="cardHeadTestimonial">
            <img class="cardImageTest" src="/images/quotes.svg" />
          </div>
          <p class="cardHeadingTestimonial">I highly recommend this job site to anyone looking for their next career opportunity. The platform is user-friendly, and the search filters helped me narrow down my options effectively. Thanks to this site, I found a job that aligns perfectly with my skills and interests.</p>
          <div class="cardBodyTestimonial">
            <p class="cardNameTestimonial">-Ali Abas</p>
            <p class="cardEmployerTestimonial">Employer</p>
            <p class="cardDetailTestimonial">CEO @ Circulr Incs.</p>
          </div>
        </div>
        <div class="customCardTestimonial">
          <div class="cardHeadTestimonial">
            <img class="cardImageTest" src="/images/quotes.svg" />
          </div>
          <p class="cardHeadingTestimonial">As a recent college graduate, I was worried about finding a job in my field. However, this job site exceeded my expectations. It offered a wide range of entry-level positions and internships tailored to my qualifications.</p>
          <div class="cardBodyTestimonial">
            <p class="cardNameTestimonial">-Areana Granda</p>
            <p class="cardEmployerTestimonial">Employer</p>
            <p class="cardDetailTestimonial">Singer @ Music</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End  -->
  <!-- Slider Start  -->
  <div class="SliderCompany">
    <h2 class="SliderCompanyHeading">Who’s hiring at hireddd.com?</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/slide (5).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (1).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (2).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (3).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (4).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (6).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (6).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (6).png" alt=""></div>
        <div class="swiper-slide"><img src="/images/slide (6).png" alt=""></div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
  <!-- Slider Start  -->
</div>
  <%-include('../partials/footer') %>


  <%-include('../partials/body') %>
