<%-include('../partials/head', {title: "View Profile" }) %>
  <%-include('../partials/navbarUpload' , { userId: user._id }) %>


    <div class="homeMainRow">
      <div class="firstColumnHome okCheck">
        <div class="homeOptions">
          <div class="indvidualOption" onclick="changeColor(this)">
            <svg id="svg1" viewBox="0 0 1024 1024" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M512 128 128 447.936V896h255.936V640H640v256h255.936V447.936z" />
            </svg>

            <p class="homeOptionText">Home</p>
          </div>
          <div class="indvidualOption" onclick="changeColor(this)">
            <svg id="svg2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M21.9375 7.51125C21.7263 7.27193 21.4666 7.08028 21.1757 6.94903C20.8847 6.81778 20.5692 6.74994 20.25 6.75H15V5.25C15 4.25544 14.6049 3.30161 13.9017 2.59835C13.1984 1.89509 12.2446 1.5 11.25 1.5C11.1107 1.4999 10.9741 1.53862 10.8555 1.61181C10.7369 1.685 10.6411 1.78977 10.5787 1.91438L7.03687 9H3C2.60218 9 2.22064 9.15804 1.93934 9.43934C1.65804 9.72064 1.5 10.1022 1.5 10.5V18.75C1.5 19.1478 1.65804 19.5294 1.93934 19.8107C2.22064 20.092 2.60218 20.25 3 20.25H19.125C19.6732 20.2502 20.2025 20.0503 20.6137 19.6878C21.0249 19.3253 21.2896 18.8251 21.3581 18.2812L22.4831 9.28125C22.523 8.9644 22.495 8.64268 22.4009 8.3375C22.3068 8.03232 22.1488 7.75066 21.9375 7.51125ZM3 10.5H6.75V18.75H3V10.5ZM20.9944 9.09375L19.8694 18.0938C19.8465 18.275 19.7583 18.4418 19.6212 18.5626C19.4842 18.6834 19.3077 18.7501 19.125 18.75H8.25V9.92719L11.6916 3.04313C12.2016 3.14521 12.6606 3.4209 12.9903 3.82326C13.32 4.22562 13.5001 4.7298 13.5 5.25V7.5C13.5 7.69891 13.579 7.88968 13.7197 8.03033C13.8603 8.17098 14.0511 8.25 14.25 8.25H20.25C20.3564 8.24996 20.4616 8.27258 20.5587 8.31634C20.6557 8.36011 20.7423 8.42402 20.8127 8.50383C20.8831 8.58363 20.9357 8.67752 20.967 8.77923C20.9984 8.88094 21.0077 8.98816 20.9944 9.09375Z" />
            </svg>
            <p class="homeOptionText">Liked</p>
          </div>
          <div class="indvidualOption" onclick="changeColor(this)">
            <svg id="svg3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M17.25 3H6.75C6.35218 3 5.97064 3.15804 5.68934 3.43934C5.40804 3.72064 5.25 4.10217 5.25 4.5V21C5.25007 21.1338 5.28595 21.2652 5.35393 21.3805C5.42191 21.4958 5.5195 21.5908 5.63659 21.6557C5.75367 21.7206 5.88598 21.7529 6.01978 21.7494C6.15358 21.7458 6.284 21.7066 6.3975 21.6356L12 18.1341L17.6034 21.6356C17.7169 21.7063 17.8472 21.7454 17.9809 21.7488C18.1146 21.7522 18.2467 21.7198 18.3636 21.655C18.4806 21.5902 18.5781 21.4952 18.646 21.3801C18.7139 21.2649 18.7498 21.1337 18.75 21V4.5C18.75 4.10217 18.592 3.72064 18.3107 3.43934C18.0294 3.15804 17.6478 3 17.25 3ZM17.25 19.6472L12.3966 16.6144C12.2774 16.5399 12.1396 16.5004 11.9991 16.5004C11.8585 16.5004 11.7208 16.5399 11.6016 16.6144L6.75 19.6472V4.5H17.25V19.6472Z" />
            </svg>
            <p class="homeOptionText">Shortlisted</p>
          </div>
          <a href="/chat">
          <div class="indvidualOption" onclick="changeColor(this)">
            <svg id="svg4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M20.25 4.5H3.75003C3.3522 4.5 2.97067 4.65804 2.68937 4.93934C2.40806 5.22064 2.25003 5.60218 2.25003 6V21C2.2483 21.286 2.32921 21.5665 2.48305 21.8076C2.63689 22.0488 2.8571 22.2404 3.11721 22.3594C3.31543 22.4517 3.53138 22.4997 3.75003 22.5C4.10215 22.4992 4.4426 22.3736 4.71096 22.1456C4.71544 22.1427 4.71953 22.1392 4.72315 22.1353L7.7344 19.5H20.25C20.6478 19.5 21.0294 19.342 21.3107 19.0607C21.592 18.7794 21.75 18.3978 21.75 18V6C21.75 5.60218 21.592 5.22064 21.3107 4.93934C21.0294 4.65804 20.6478 4.5 20.25 4.5ZM20.25 18H7.7344C7.38117 17.9998 7.03922 18.1243 6.76877 18.3516L6.75753 18.3619L3.75003 21V6H20.25V18Z" />
            </svg>
            <p class="homeOptionText">Messages</p>
          </div>
        </a>
        </div>
        <div class="tagAndRecentView">
          <div class="homeTags">
            <div class="homeIndvidualTag">
              <div class="homeTagDropDown">
                <span class="dropDownSvg" id="dropdownLabel">View More
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path
                      d="M15.5233 7.14804L9.89828 12.773C9.84604 12.8253 9.784 12.8668 9.71572 12.8951C9.64743 12.9234 9.57423 12.938 9.50031 12.938C9.42639 12.938 9.3532 12.9234 9.28491 12.8951C9.21662 12.8668 9.15458 12.8253 9.10234 12.773L3.47734 7.14804C3.3718 7.04249 3.3125 6.89934 3.3125 6.75007C3.3125 6.6008 3.3718 6.45765 3.47734 6.3521C3.58289 6.24655 3.72605 6.18726 3.87531 6.18726C4.02458 6.18726 4.16773 6.24655 4.27328 6.3521L9.50031 11.5798L14.7273 6.3521C14.7796 6.29984 14.8417 6.25838 14.9099 6.2301C14.9782 6.20181 15.0514 6.18726 15.1253 6.18726C15.1992 6.18726 15.2724 6.20181 15.3407 6.2301C15.409 6.25838 15.471 6.29984 15.5233 6.3521C15.5755 6.40436 15.617 6.46641 15.6453 6.53469C15.6736 6.60297 15.6881 6.67616 15.6881 6.75007C15.6881 6.82398 15.6736 6.89716 15.6453 6.96545C15.617 7.03373 15.5755 7.09578 15.5233 7.14804Z"
                      fill="#605D62" />
                  </svg>
                </span>
                <div class="homeTagDropDown-content" id="dropdownContent">
                  <p>UX Design</p>
                  <p>Web Developer</p>
                  <p>WordPress</p>
                  <p>Marketing</p>


                </div>
              </div>
            </div>
            <div class="homeIndvidualTag">UX Design</div>
            <div class="homeIndvidualTag">UI design</div>
            <div class="homeIndvidualTag">Web Developer</div>
            <div class="homeIndvidualTag">WordPress</div>
            <div class="homeIndvidualTag">User Centered Design</div>
            <div class="homeIndvidualTag">Front-end</div>
            <div class="homeIndvidualTag">Marketing</div>


          </div>
          <% if (true) { %>
            <h2 class="recentViewsHeading">Progress Report</h2>
            <div class="progressReports">

              <div class="indvidualReport">
                <h5 class="indvidualReportHeading">Most Wanted</h5>
                <div class="reportComplrtion">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M11.25 1.5V0.75C11.25 0.551088 11.329 0.360322 11.4697 0.21967C11.6103 0.0790176 11.8011 0 12 0C12.1989 0 12.3897 0.0790176 12.5303 0.21967C12.671 0.360322 12.75 0.551088 12.75 0.75V1.5C12.75 1.69891 12.671 1.88968 12.5303 2.03033C12.3897 2.17098 12.1989 2.25 12 2.25C11.8011 2.25 11.6103 2.17098 11.4697 2.03033C11.329 1.88968 11.25 1.69891 11.25 1.5ZM18.75 4.5C18.8485 4.50008 18.9461 4.48074 19.0371 4.4431C19.1282 4.40546 19.2109 4.35025 19.2806 4.28062L20.0306 3.53062C20.1714 3.38989 20.2504 3.19902 20.2504 3C20.2504 2.80098 20.1714 2.61011 20.0306 2.46938C19.8899 2.32864 19.699 2.24958 19.5 2.24958C19.301 2.24958 19.1101 2.32864 18.9694 2.46938L18.2194 3.21938C18.1144 3.32427 18.0428 3.45796 18.0139 3.60352C17.9849 3.74908 17.9997 3.89998 18.0565 4.03709C18.1133 4.17421 18.2096 4.29139 18.333 4.37379C18.4565 4.45619 18.6016 4.50012 18.75 4.5ZM4.71938 4.28062C4.78906 4.35031 4.87178 4.40558 4.96283 4.4433C5.05387 4.48101 5.15145 4.50042 5.25 4.50042C5.34855 4.50042 5.44613 4.48101 5.53717 4.4433C5.62822 4.40558 5.71094 4.35031 5.78062 4.28062C5.85031 4.21094 5.90558 4.12822 5.9433 4.03717C5.98101 3.94613 6.00042 3.84855 6.00042 3.75C6.00042 3.65145 5.98101 3.55387 5.9433 3.46283C5.90558 3.37178 5.85031 3.28906 5.78062 3.21938L5.03062 2.46938C4.88989 2.32864 4.69902 2.24958 4.5 2.24958C4.30098 2.24958 4.11011 2.32864 3.96938 2.46938C3.82864 2.61011 3.74958 2.80098 3.74958 3C3.74958 3.19902 3.82864 3.38989 3.96938 3.53062L4.71938 4.28062ZM21.75 16.5V18.75C21.75 19.1478 21.592 19.5294 21.3107 19.8107C21.0294 20.092 20.6478 20.25 20.25 20.25H3.75C3.35218 20.25 2.97064 20.092 2.68934 19.8107C2.40804 19.5294 2.25 19.1478 2.25 18.75V16.5C2.25 16.1022 2.40804 15.7206 2.68934 15.4393C2.97064 15.158 3.35218 15 3.75 15V12C3.74997 10.9113 3.96542 9.83334 4.38395 8.82829C4.80247 7.82323 5.41579 6.91096 6.18853 6.14405C6.96128 5.37714 7.87818 4.77076 8.88638 4.35987C9.89458 3.94898 10.9741 3.74171 12.0628 3.75C16.5769 3.78375 20.25 7.52719 20.25 12.0938V15C20.6478 15 21.0294 15.158 21.3107 15.4393C21.592 15.7206 21.75 16.1022 21.75 16.5ZM12.6262 8.23969C14.4066 8.53875 15.75 10.155 15.75 12C15.75 12.1989 15.829 12.3897 15.9697 12.5303C16.1103 12.671 16.3011 12.75 16.5 12.75C16.6989 12.75 16.8897 12.671 17.0303 12.5303C17.171 12.3897 17.25 12.1989 17.25 12C17.25 9.43125 15.3684 7.17844 12.8738 6.76031C12.7762 6.74306 12.6762 6.74531 12.5795 6.76693C12.4828 6.78855 12.3913 6.82911 12.3104 6.88627C12.2295 6.94343 12.1607 7.01606 12.108 7.09997C12.0553 7.18387 12.0198 7.27738 12.0034 7.3751C11.9871 7.47282 11.9902 7.57281 12.0128 7.66929C12.0353 7.76577 12.0767 7.85684 12.1346 7.93723C12.1925 8.01762 12.2658 8.08574 12.3502 8.13765C12.4345 8.18957 12.5284 8.22425 12.6262 8.23969ZM20.25 18.75V16.5H3.75V18.75H20.25Z"
                      fill="#D04F32" />
                  </svg>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="<%= progressPercent %>" aria-valuemin="0" aria-valuemax="100"
                      style="width: <%= progressPercent %>%"></div>
                  </div>

                  <p class="reportPercent">
                    <%= progressPercent %>%
                  </p>
                </div>
              </div>
              <div class="indvidualReport">
                <h5 class="indvidualReportHeading">Completed Profile</h5>
                <div class="reportComplrtion">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M20.7375 9.75179C20.4009 9.4 20.0527 9.0375 19.9214 8.71875C19.8 8.42679 19.7929 7.94286 19.7857 7.47411C19.7723 6.60268 19.758 5.61518 19.0714 4.92857C18.3848 4.24196 17.3973 4.22768 16.5259 4.21429C16.0571 4.20714 15.5732 4.2 15.2812 4.07857C14.9634 3.94732 14.6 3.59911 14.2482 3.2625C13.6321 2.67054 12.9321 2 12 2C11.0679 2 10.3687 2.67054 9.75179 3.2625C9.4 3.59911 9.0375 3.94732 8.71875 4.07857C8.42857 4.2 7.94286 4.20714 7.47411 4.21429C6.60268 4.22768 5.61518 4.24196 4.92857 4.92857C4.24196 5.61518 4.23214 6.60268 4.21429 7.47411C4.20714 7.94286 4.2 8.42679 4.07857 8.71875C3.94732 9.03661 3.59911 9.4 3.2625 9.75179C2.67054 10.3679 2 11.0679 2 12C2 12.9321 2.67054 13.6312 3.2625 14.2482C3.59911 14.6 3.94732 14.9625 4.07857 15.2812C4.2 15.5732 4.20714 16.0571 4.21429 16.5259C4.22768 17.3973 4.24196 18.3848 4.92857 19.0714C5.61518 19.758 6.60268 19.7723 7.47411 19.7857C7.94286 19.7929 8.42679 19.8 8.71875 19.9214C9.03661 20.0527 9.4 20.4009 9.75179 20.7375C10.3679 21.3295 11.0679 22 12 22C12.9321 22 13.6312 21.3295 14.2482 20.7375C14.6 20.4009 14.9625 20.0527 15.2812 19.9214C15.5732 19.8 16.0571 19.7929 16.5259 19.7857C17.3973 19.7723 18.3848 19.758 19.0714 19.0714C19.758 18.3848 19.7723 17.3973 19.7857 16.5259C19.7929 16.0571 19.8 15.5732 19.9214 15.2812C20.0527 14.9634 20.4009 14.6 20.7375 14.2482C21.3295 13.6321 22 12.9321 22 12C22 11.0679 21.3295 10.3687 20.7375 9.75179ZM16.0768 10.3625L11.0768 15.3625C11.0104 15.4289 10.9317 15.4816 10.845 15.5175C10.7582 15.5535 10.6653 15.572 10.5714 15.572C10.4776 15.572 10.3846 15.5535 10.2979 15.5175C10.2112 15.4816 10.1324 15.4289 10.0661 15.3625L7.92321 13.2196C7.78919 13.0856 7.71389 12.9038 7.71389 12.7143C7.71389 12.5247 7.78919 12.343 7.92321 12.2089C8.05724 12.0749 8.23903 11.9996 8.42857 11.9996C8.61812 11.9996 8.7999 12.0749 8.93393 12.2089L10.5714 13.8473L15.0661 9.35179C15.1324 9.28542 15.2112 9.23278 15.2979 9.19686C15.3846 9.16095 15.4776 9.14246 15.5714 9.14246C15.6653 9.14246 15.7582 9.16095 15.8449 9.19686C15.9316 9.23278 16.0104 9.28542 16.0768 9.35179C16.1432 9.41815 16.1958 9.49694 16.2317 9.58365C16.2676 9.67036 16.2861 9.76329 16.2861 9.85714C16.2861 9.951 16.2676 10.0439 16.2317 10.1306C16.1958 10.2173 16.1432 10.2961 16.0768 10.3625Z"
                      fill="#002FD8" />
                  </svg>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="<%= completionPercentage %>" aria-valuemin="0" aria-valuemax="100"
                      style="width: <%= completionPercentage %>%"></div>
                  </div>

                  <p class="reportPercent">
                    <%= completionPercentage %>%
                  </p>
                </div>
              </div>
              <div class="indvidualReport">
                <h5 class="indvidualReportHeading">Lorum Ipsum</h5>
                <div class="reportComplrtion">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                      fill="#377849" />
                  </svg>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>

                  <p class="reportPercent">90%</p>
                </div>
              </div>


            </div>
            <% } else { %>

              <% } %>

        </div>
      </div>


      <div class="homeCenterData">
        <div class="centerDivRow">

          <div class="indvidualPost ResponsiveAbout">
            <a href="">
              <div class="editProfile responsiveEdit">
                <p class="editProfileText">Edit Profile</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path
                    d="M15.8836 5.25795L12.7413 2.11568C12.6499 2.02427 12.5414 1.95175 12.422 1.90227C12.3025 1.8528 12.1745 1.82733 12.0452 1.82733C11.916 1.82733 11.7879 1.8528 11.6685 1.90227C11.5491 1.95175 11.4406 2.02427 11.3491 2.11568L2.67891 10.7866C2.58732 10.8779 2.51469 10.9864 2.46521 11.1059C2.41574 11.2253 2.39039 11.3534 2.39063 11.4827V14.625C2.39063 14.8861 2.49434 15.1364 2.67894 15.321C2.86355 15.5056 3.11393 15.6094 3.375 15.6094H6.51727C6.64657 15.6096 6.77465 15.5842 6.89412 15.5348C7.01359 15.4853 7.12208 15.4127 7.21336 15.3211L15.8836 6.65014C15.975 6.55873 16.0475 6.45021 16.097 6.33077C16.1465 6.21133 16.1719 6.08332 16.1719 5.95404C16.1719 5.82476 16.1465 5.69675 16.097 5.57732C16.0475 5.45788 15.975 5.34936 15.8836 5.25795ZM6.61641 14.7241C6.59016 14.7505 6.5545 14.7654 6.51727 14.7656H3.375C3.33771 14.7656 3.30194 14.7508 3.27556 14.7244C3.24919 14.698 3.23438 14.6623 3.23438 14.625V11.4827C3.23453 11.4455 3.24945 11.4098 3.27586 11.3836L9.5625 5.09623L12.903 8.43748L6.61641 14.7241ZM15.2866 6.05389L13.5 7.84053L10.1595 4.49998L11.9461 2.71264C11.9592 2.69956 11.9747 2.68919 11.9917 2.68211C12.0088 2.67504 12.0271 2.67139 12.0456 2.67139C12.0641 2.67139 12.0824 2.67504 12.0994 2.68211C12.1165 2.68919 12.132 2.69956 12.1451 2.71264L15.2866 5.8549C15.2997 5.86796 15.3101 5.88347 15.3172 5.90054C15.3242 5.91762 15.3279 5.93591 15.3279 5.95439C15.3279 5.97287 15.3242 5.99117 15.3172 6.00825C15.3101 6.02532 15.2997 6.04083 15.2866 6.05389Z"
                    fill="#7B68EE" />
                </svg>
              </div>
            </a>
            <div class="indvidualPostMedia">
              <video id="videoPlayer2" src="<%= user.video %>"></video>
              <a class="likeIndvidualPost likeIndvidualPostViewProfile" href="">



                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21.9375 7.51125C21.7263 7.27193 21.4666 7.08028 21.1757 6.94903C20.8847 6.81778 20.5692 6.74994 20.25 6.75H15V5.25C15 4.25544 14.6049 3.30161 13.9017 2.59835C13.1984 1.89509 12.2446 1.5 11.25 1.5C11.1107 1.4999 10.9741 1.53862 10.8555 1.61181C10.7369 1.685 10.6411 1.78977 10.5787 1.91438L7.03687 9H3C2.60218 9 2.22064 9.15804 1.93934 9.43934C1.65804 9.72064 1.5 10.1022 1.5 10.5V18.75C1.5 19.1478 1.65804 19.5294 1.93934 19.8107C2.22064 20.092 2.60218 20.25 3 20.25H19.125C19.6732 20.2502 20.2025 20.0503 20.6137 19.6878C21.0249 19.3253 21.2896 18.8251 21.3581 18.2812L22.4831 9.28125C22.523 8.9644 22.495 8.64268 22.4009 8.3375C22.3068 8.03232 22.1488 7.75066 21.9375 7.51125ZM3 10.5H6.75V18.75H3V10.5ZM20.9944 9.09375L19.8694 18.0938C19.8465 18.275 19.7583 18.4418 19.6212 18.5626C19.4842 18.6834 19.3077 18.7501 19.125 18.75H8.25V9.92719L11.6916 3.04313C12.2016 3.14521 12.6606 3.4209 12.9903 3.82326C13.32 4.22562 13.5001 4.7298 13.5 5.25V7.5C13.5 7.69891 13.579 7.88968 13.7197 8.03033C13.8603 8.17098 14.0511 8.25 14.25 8.25H20.25C20.3564 8.24996 20.4616 8.27258 20.5587 8.31634C20.6557 8.36011 20.7423 8.42402 20.8127 8.50383C20.8831 8.58363 20.9357 8.67752 20.967 8.77923C20.9984 8.88094 21.0077 8.98816 20.9944 9.09375Z"
                    fill="white" />
                </svg>
                <p class="analytic">
                  <%= typeof user.likescount==="string" ? user.likescount : `${user.likescount}` %>
                </p>
              </a>
              <a class="saveIndvidualPost saveIndvidualPostViewProfile" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M17.25 3H6.75C6.35218 3 5.97064 3.15804 5.68934 3.43934C5.40804 3.72064 5.25 4.10217 5.25 4.5V21C5.25007 21.1338 5.28595 21.2652 5.35393 21.3805C5.42191 21.4958 5.5195 21.5908 5.63659 21.6557C5.75367 21.7206 5.88598 21.7529 6.01978 21.7494C6.15358 21.7458 6.284 21.7066 6.3975 21.6356L12 18.1341L17.6034 21.6356C17.7169 21.7063 17.8472 21.7454 17.9809 21.7488C18.1146 21.7522 18.2467 21.7198 18.3636 21.655C18.4806 21.5902 18.5781 21.4952 18.646 21.3801C18.7139 21.2649 18.7498 21.1337 18.75 21V4.5C18.75 4.10217 18.592 3.72064 18.3107 3.43934C18.0294 3.15804 17.6478 3 17.25 3ZM17.25 19.6472L12.3966 16.6144C12.2774 16.5399 12.1396 16.5004 11.9991 16.5004C11.8585 16.5004 11.7208 16.5399 11.6016 16.6144L6.75 19.6472V4.5H17.25V19.6472Z"
                    fill="white" />
                </svg>
                <p class="analytic">
                  <%= typeof user.savedcount==="string" ? user.savedcount : `${user.savedcount} ` %>
                </p>
              </a>
              <a href="">
                <div class="editProfile responsiveContact">
                  <p class="editProfileText">Contact</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path
                      d="M15.1875 3.375H2.8125C2.51413 3.375 2.22798 3.49353 2.01701 3.7045C1.80603 3.91548 1.6875 4.20163 1.6875 4.5V15.75C1.6862 15.9645 1.74689 16.1749 1.86227 16.3557C1.97765 16.5366 2.14281 16.6803 2.33789 16.7695C2.48655 16.8388 2.64851 16.8747 2.8125 16.875C3.0766 16.8744 3.33193 16.7802 3.5332 16.6092C3.53656 16.607 3.53963 16.6044 3.54234 16.6015L5.80078 14.625H15.1875C15.4859 14.625 15.772 14.5065 15.983 14.2955C16.194 14.0845 16.3125 13.7984 16.3125 13.5V4.5C16.3125 4.20163 16.194 3.91548 15.983 3.7045C15.772 3.49353 15.4859 3.375 15.1875 3.375ZM15.1875 13.5H5.80078C5.53586 13.4999 5.27939 13.5933 5.07656 13.7637L5.06813 13.7714L2.8125 15.75V4.5H15.1875V13.5Z"
                      fill="#7B68EE" />
                  </svg>
                </div>
              </a>
            </div>

            <div class="personPostDataMainDiv">
              <div class="aboutPostPerson">
                <div class="aboutPostPersonImg">
                  <img src="<%= user.profilePicture %>" alt="">
                </div>
                <div class="nameAndLocation">

                  <h3 class="personNamePost">
                    <%= user.firstName %>
                      <%= user.lastName %>
                  </h3>
                  <div class="aboutPersonLocation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                      <path
                        d="M7 4C6.56735 4 6.14442 4.12829 5.78469 4.36866C5.42496 4.60903 5.14458 4.95067 4.97901 5.35038C4.81345 5.75009 4.77013 6.18993 4.85453 6.61426C4.93894 7.03859 5.14728 7.42837 5.4532 7.7343C5.75913 8.04022 6.14891 8.24856 6.57324 8.33297C6.99757 8.41737 7.43741 8.37405 7.83712 8.20849C8.23683 8.04292 8.57847 7.76254 8.81884 7.40281C9.05921 7.04308 9.1875 6.62015 9.1875 6.1875C9.1875 5.60734 8.95703 5.05094 8.5468 4.6407C8.13656 4.23047 7.58016 4 7 4ZM7 7.5C6.74041 7.5 6.48665 7.42302 6.27081 7.2788C6.05497 7.13458 5.88675 6.9296 5.78741 6.68977C5.68807 6.44994 5.66208 6.18604 5.71272 5.93144C5.76336 5.67684 5.88837 5.44298 6.07192 5.25942C6.25548 5.07587 6.48934 4.95086 6.74394 4.90022C6.99854 4.84958 7.26244 4.87557 7.50227 4.97491C7.7421 5.07425 7.94708 5.24247 8.0913 5.45831C8.23552 5.67415 8.3125 5.92791 8.3125 6.1875C8.3125 6.5356 8.17422 6.86944 7.92808 7.11558C7.68194 7.36172 7.3481 7.5 7 7.5ZM7 1.375C5.72409 1.37645 4.50085 1.88394 3.59865 2.78615C2.69644 3.68835 2.18895 4.91159 2.1875 6.1875C2.1875 7.90469 2.98102 9.72469 4.48438 11.4512C5.15989 12.2313 5.92017 12.9338 6.75117 13.5457C6.82473 13.5972 6.91237 13.6249 7.00219 13.6249C7.092 13.6249 7.17964 13.5972 7.2532 13.5457C8.08268 12.9336 8.84148 12.2311 9.51562 11.4512C11.0168 9.72469 11.8125 7.90469 11.8125 6.1875C11.8111 4.91159 11.3036 3.68835 10.4014 2.78615C9.49915 1.88394 8.27591 1.37645 7 1.375ZM7 12.6406C6.09602 11.9297 3.0625 9.31836 3.0625 6.1875C3.0625 5.14321 3.47734 4.14169 4.21577 3.40327C4.95419 2.66484 5.95571 2.25 7 2.25C8.04429 2.25 9.04581 2.66484 9.78423 3.40327C10.5227 4.14169 10.9375 5.14321 10.9375 6.1875C10.9375 9.31727 7.90398 11.9297 7 12.6406Z"
                        fill="#939094" />
                    </svg>
                    <p class="locationAdress">
                      <%= user.location !=="Hidden" ? user.location : "Private" %>
                    </p>
                  </div>
                </div>
                <div class="bages">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M11.25 3V2.25C11.25 2.05109 11.329 1.86032 11.4697 1.71967C11.6103 1.57902 11.8011 1.5 12 1.5C12.1989 1.5 12.3897 1.57902 12.5303 1.71967C12.671 1.86032 12.75 2.05109 12.75 2.25V3C12.75 3.19891 12.671 3.38968 12.5303 3.53033C12.3897 3.67098 12.1989 3.75 12 3.75C11.8011 3.75 11.6103 3.67098 11.4697 3.53033C11.329 3.38968 11.25 3.19891 11.25 3ZM18.75 6C18.8485 6.00008 18.9461 5.98074 19.0371 5.9431C19.1282 5.90546 19.2109 5.85025 19.2806 5.78062L20.0306 5.03062C20.1714 4.88989 20.2504 4.69902 20.2504 4.5C20.2504 4.30098 20.1714 4.11011 20.0306 3.96938C19.8899 3.82864 19.699 3.74958 19.5 3.74958C19.301 3.74958 19.1101 3.82864 18.9694 3.96938L18.2194 4.71938C18.1144 4.82427 18.0428 4.95796 18.0139 5.10352C17.9849 5.24908 17.9997 5.39998 18.0565 5.53709C18.1133 5.67421 18.2096 5.79139 18.333 5.87379C18.4565 5.95619 18.6016 6.00012 18.75 6ZM4.71938 5.78062C4.78906 5.85031 4.87178 5.90558 4.96283 5.9433C5.05387 5.98101 5.15145 6.00042 5.25 6.00042C5.34855 6.00042 5.44613 5.98101 5.53717 5.9433C5.62822 5.90558 5.71094 5.85031 5.78062 5.78062C5.85031 5.71094 5.90558 5.62822 5.9433 5.53717C5.98101 5.44613 6.00042 5.34855 6.00042 5.25C6.00042 5.15145 5.98101 5.05387 5.9433 4.96283C5.90558 4.87178 5.85031 4.78906 5.78062 4.71938L5.03062 3.96938C4.88989 3.82864 4.69902 3.74958 4.5 3.74958C4.30098 3.74958 4.11011 3.82864 3.96938 3.96938C3.82864 4.11011 3.74958 4.30098 3.74958 4.5C3.74958 4.69902 3.82864 4.88989 3.96938 5.03062L4.71938 5.78062ZM21.75 18V20.25C21.75 20.6478 21.592 21.0294 21.3107 21.3107C21.0294 21.592 20.6478 21.75 20.25 21.75H3.75C3.35218 21.75 2.97064 21.592 2.68934 21.3107C2.40804 21.0294 2.25 20.6478 2.25 20.25V18C2.25 17.6022 2.40804 17.2206 2.68934 16.9393C2.97064 16.658 3.35218 16.5 3.75 16.5V13.5C3.74997 12.4113 3.96542 11.3333 4.38395 10.3283C4.80247 9.32323 5.41579 8.41096 6.18853 7.64405C6.96128 6.87714 7.87818 6.27076 8.88638 5.85987C9.89458 5.44898 10.9741 5.24171 12.0628 5.25C16.5769 5.28375 20.25 9.02719 20.25 13.5938V16.5C20.6478 16.5 21.0294 16.658 21.3107 16.9393C21.592 17.2206 21.75 17.6022 21.75 18ZM12.6262 9.73969C14.4066 10.0387 15.75 11.655 15.75 13.5C15.75 13.6989 15.829 13.8897 15.9697 14.0303C16.1103 14.171 16.3011 14.25 16.5 14.25C16.6989 14.25 16.8897 14.171 17.0303 14.0303C17.171 13.8897 17.25 13.6989 17.25 13.5C17.25 10.9312 15.3684 8.67844 12.8738 8.26031C12.7762 8.24306 12.6762 8.24531 12.5795 8.26693C12.4828 8.28855 12.3913 8.32911 12.3104 8.38627C12.2295 8.44343 12.1607 8.51606 12.108 8.59997C12.0553 8.68387 12.0198 8.77738 12.0034 8.8751C11.9871 8.97282 11.9902 9.07281 12.0128 9.16929C12.0353 9.26577 12.0767 9.35684 12.1346 9.43723C12.1925 9.51762 12.2658 9.58574 12.3502 9.63765C12.4345 9.68957 12.5284 9.72425 12.6262 9.73969ZM20.25 20.25V18H3.75V20.25H20.25Z"
                      fill="#D74E30" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                      fill="#2C9449" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z"
                      fill="#002FD8" />
                  </svg>
                </div>
              </div>

              <div class="tagBelowPost tagpostMargin forViewProfile">
                <% if (Array.isArray(user.skills) && user.skills.length> 0) { %>
                  <% user.skills.forEach(function(skill) { %>
                    <div class="homeIndvidualTag">
                      <%= skill %>
                    </div>
                    <% }); %>
                      <% } else if (user.skills) { %>
                        <div class="homeIndvidualTag">
                          <%= user.skills %>
                        </div>
                        <% } %>
              </div>
            </div>
            </a>
          </div>
          <div class="centerEditAbout">
            <div class="editAboutColumn">
              <div class="firstRowAbout">
                <div class="profileInfoAboutColumn">
                  <div class="aboutEditImg">
                    <img src="<%= user.profilePicture %>" alt="Profile Picture">
                  </div>
                  <h3 class="editAboutName">
                    <%= user.firstName %>
                      <%= user.lastName %>
                  </h3>
                  <div class="editAboutLocation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                      <path
                        d="M9.1875 5.375C8.63124 5.375 8.08747 5.53995 7.62496 5.84899C7.16245 6.15803 6.80196 6.59729 6.58909 7.1112C6.37622 7.62512 6.32052 8.19062 6.42904 8.73619C6.53756 9.28176 6.80543 9.7829 7.19876 10.1762C7.5921 10.5696 8.09324 10.8374 8.63881 10.946C9.18438 11.0545 9.74988 10.9988 10.2638 10.7859C10.7777 10.573 11.217 10.2126 11.526 9.75004C11.835 9.28753 12 8.74376 12 8.1875C12 7.44158 11.7037 6.72621 11.1762 6.19876C10.6488 5.67132 9.93342 5.375 9.1875 5.375ZM9.1875 9.875C8.85374 9.875 8.52748 9.77603 8.24998 9.5906C7.97247 9.40518 7.75618 9.14163 7.62845 8.83328C7.50073 8.52493 7.46731 8.18563 7.53242 7.85828C7.59754 7.53094 7.75826 7.23026 7.99426 6.99426C8.23026 6.75826 8.53094 6.59754 8.85828 6.53242C9.18563 6.46731 9.52493 6.50073 9.83328 6.62845C10.1416 6.75618 10.4052 6.97247 10.5906 7.24998C10.776 7.52748 10.875 7.85374 10.875 8.1875C10.875 8.63505 10.6972 9.06428 10.3807 9.38074C10.0643 9.69721 9.63505 9.875 9.1875 9.875ZM9.1875 2C7.54704 2.00186 5.97431 2.65435 4.81433 3.81433C3.65435 4.97431 3.00186 6.54704 3 8.1875C3 10.3953 4.02023 12.7353 5.95312 14.9551C6.82164 15.9581 7.79915 16.8614 8.86758 17.648C8.96216 17.7143 9.07484 17.7498 9.19031 17.7498C9.30579 17.7498 9.41847 17.7143 9.51305 17.648C10.5795 16.861 11.5551 15.9578 12.4219 14.9551C14.352 12.7353 15.375 10.3953 15.375 8.1875C15.3731 6.54704 14.7206 4.97431 13.5607 3.81433C12.4007 2.65435 10.828 2.00186 9.1875 2ZM9.1875 16.4844C8.02523 15.5703 4.125 12.2129 4.125 8.1875C4.125 6.84484 4.65837 5.55717 5.60777 4.60777C6.55717 3.65837 7.84484 3.125 9.1875 3.125C10.5302 3.125 11.8178 3.65837 12.7672 4.60777C13.7166 5.55717 14.25 6.84484 14.25 8.1875C14.25 12.2115 10.3498 15.5703 9.1875 16.4844Z"
                        fill="#605D62" />
                    </svg>
                    <p class="editAdress">
                      <%= user.location !=="Hidden" ? user.location : "Private" %>
                    </p>

                  </div>
                  <div class="homeTags">
                    <% if (Array.isArray(user.skills)) { %>
                      <% user.skills.forEach(function(skill) { %>
                        <div class="homeIndvidualTag">
                          <%= skill %>
                        </div>
                        <% }); %>
                          <% } else if (user.skills) { %>
                            <div class="homeIndvidualTag">
                              <%= user.skills %>
                            </div>
                            <% } %>
                  </div>
                </div>
                <% if (currentUser._id.toString()===user._id.toString()) { %>
                  <a href="/user/updateProfile">
                    <div class="editProfile">
                      <p class="editProfileText">Edit Profile</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path
                          d="M15.8836 5.25795L12.7413 2.11568C12.6499 2.02427 12.5414 1.95175 12.422 1.90227C12.3025 1.8528 12.1745 1.82733 12.0452 1.82733C11.916 1.82733 11.7879 1.8528 11.6685 1.90227C11.5491 1.95175 11.4406 2.02427 11.3491 2.11568L2.67891 10.7866C2.58732 10.8779 2.51469 10.9864 2.46521 11.1059C2.41574 11.2253 2.39039 11.3534 2.39063 11.4827V14.625C2.39063 14.8861 2.49434 15.1364 2.67894 15.321C2.86355 15.5056 3.11393 15.6094 3.375 15.6094H6.51727C6.64657 15.6096 6.77465 15.5842 6.89412 15.5348C7.01359 15.4853 7.12208 15.4127 7.21336 15.3211L15.8836 6.65014C15.975 6.55873 16.0475 6.45021 16.097 6.33077C16.1465 6.21133 16.1719 6.08332 16.1719 5.95404C16.1719 5.82476 16.1465 5.69675 16.097 5.57732C16.0475 5.45788 15.975 5.34936 15.8836 5.25795ZM6.61641 14.7241C6.59016 14.7505 6.5545 14.7654 6.51727 14.7656H3.375C3.33771 14.7656 3.30194 14.7508 3.27556 14.7244C3.24919 14.698 3.23438 14.6623 3.23438 14.625V11.4827C3.23453 11.4455 3.24945 11.4098 3.27586 11.3836L9.5625 5.09623L12.903 8.43748L6.61641 14.7241ZM15.2866 6.05389L13.5 7.84053L10.1595 4.49998L11.9461 2.71264C11.9592 2.69956 11.9747 2.68919 11.9917 2.68211C12.0088 2.67504 12.0271 2.67139 12.0456 2.67139C12.0641 2.67139 12.0824 2.67504 12.0994 2.68211C12.1165 2.68919 12.132 2.69956 12.1451 2.71264L15.2866 5.8549C15.2997 5.86796 15.3101 5.88347 15.3172 5.90054C15.3242 5.91762 15.3279 5.93591 15.3279 5.95439C15.3279 5.97287 15.3242 5.99117 15.3172 6.00825C15.3101 6.02532 15.2997 6.04083 15.2866 6.05389Z"
                          fill="#7B68EE" />
                      </svg>
                    </div>
                  </a>

                  <%}else{ %>
                    <a href="/chat/<%= recipientId %>">
                      <div class="editProfile">
                        <p class="editProfileText">Message</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path
                            d="M15.1875 3.375H2.8125C2.51413 3.375 2.22798 3.49353 2.01701 3.7045C1.80603 3.91548 1.6875 4.20163 1.6875 4.5V15.75C1.6862 15.9645 1.74689 16.1749 1.86227 16.3557C1.97765 16.5366 2.14281 16.6803 2.33789 16.7695C2.48655 16.8388 2.64851 16.8747 2.8125 16.875C3.0766 16.8744 3.33193 16.7802 3.5332 16.6092C3.53656 16.607 3.53963 16.6044 3.54234 16.6015L5.80078 14.625H15.1875C15.4859 14.625 15.772 14.5065 15.983 14.2955C16.194 14.0845 16.3125 13.7984 16.3125 13.5V4.5C16.3125 4.20163 16.194 3.91548 15.983 3.7045C15.772 3.49353 15.4859 3.375 15.1875 3.375ZM15.1875 13.5H5.80078C5.53586 13.4999 5.27939 13.5933 5.07656 13.7637L5.06813 13.7714L2.8125 15.75V4.5H15.1875V13.5Z"
                            fill="#7B68EE" />
                        </svg>
                      </div>
                    </a>
                    <%} %>

              </div>
              <p class="viewAboutPara" id="aboutParaper">
                <%= user.about %>

              </p>
              <svg class="viewAboutParaExpend" id="toggleButtonpar" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25" height="25" viewBox="0 0 256 256"
                xml:space="preserve">

                <defs>
                </defs>
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                  transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                  <path
                    d="M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z"
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: grey; fill-rule: nonzero; opacity: 1;"
                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <!-- Another -->
        <div class="progressResponsive">
          <h2 class="recentViewsHeading">Progress Report</h2>
          <div class="progressReports">

            <div class="indvidualReport">
              <h5 class="indvidualReportHeading">Most Wanted</h5>
              <div class="reportComplrtion">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M11.25 1.5V0.75C11.25 0.551088 11.329 0.360322 11.4697 0.21967C11.6103 0.0790176 11.8011 0 12 0C12.1989 0 12.3897 0.0790176 12.5303 0.21967C12.671 0.360322 12.75 0.551088 12.75 0.75V1.5C12.75 1.69891 12.671 1.88968 12.5303 2.03033C12.3897 2.17098 12.1989 2.25 12 2.25C11.8011 2.25 11.6103 2.17098 11.4697 2.03033C11.329 1.88968 11.25 1.69891 11.25 1.5ZM18.75 4.5C18.8485 4.50008 18.9461 4.48074 19.0371 4.4431C19.1282 4.40546 19.2109 4.35025 19.2806 4.28062L20.0306 3.53062C20.1714 3.38989 20.2504 3.19902 20.2504 3C20.2504 2.80098 20.1714 2.61011 20.0306 2.46938C19.8899 2.32864 19.699 2.24958 19.5 2.24958C19.301 2.24958 19.1101 2.32864 18.9694 2.46938L18.2194 3.21938C18.1144 3.32427 18.0428 3.45796 18.0139 3.60352C17.9849 3.74908 17.9997 3.89998 18.0565 4.03709C18.1133 4.17421 18.2096 4.29139 18.333 4.37379C18.4565 4.45619 18.6016 4.50012 18.75 4.5ZM4.71938 4.28062C4.78906 4.35031 4.87178 4.40558 4.96283 4.4433C5.05387 4.48101 5.15145 4.50042 5.25 4.50042C5.34855 4.50042 5.44613 4.48101 5.53717 4.4433C5.62822 4.40558 5.71094 4.35031 5.78062 4.28062C5.85031 4.21094 5.90558 4.12822 5.9433 4.03717C5.98101 3.94613 6.00042 3.84855 6.00042 3.75C6.00042 3.65145 5.98101 3.55387 5.9433 3.46283C5.90558 3.37178 5.85031 3.28906 5.78062 3.21938L5.03062 2.46938C4.88989 2.32864 4.69902 2.24958 4.5 2.24958C4.30098 2.24958 4.11011 2.32864 3.96938 2.46938C3.82864 2.61011 3.74958 2.80098 3.74958 3C3.74958 3.19902 3.82864 3.38989 3.96938 3.53062L4.71938 4.28062ZM21.75 16.5V18.75C21.75 19.1478 21.592 19.5294 21.3107 19.8107C21.0294 20.092 20.6478 20.25 20.25 20.25H3.75C3.35218 20.25 2.97064 20.092 2.68934 19.8107C2.40804 19.5294 2.25 19.1478 2.25 18.75V16.5C2.25 16.1022 2.40804 15.7206 2.68934 15.4393C2.97064 15.158 3.35218 15 3.75 15V12C3.74997 10.9113 3.96542 9.83334 4.38395 8.82829C4.80247 7.82323 5.41579 6.91096 6.18853 6.14405C6.96128 5.37714 7.87818 4.77076 8.88638 4.35987C9.89458 3.94898 10.9741 3.74171 12.0628 3.75C16.5769 3.78375 20.25 7.52719 20.25 12.0938V15C20.6478 15 21.0294 15.158 21.3107 15.4393C21.592 15.7206 21.75 16.1022 21.75 16.5ZM12.6262 8.23969C14.4066 8.53875 15.75 10.155 15.75 12C15.75 12.1989 15.829 12.3897 15.9697 12.5303C16.1103 12.671 16.3011 12.75 16.5 12.75C16.6989 12.75 16.8897 12.671 17.0303 12.5303C17.171 12.3897 17.25 12.1989 17.25 12C17.25 9.43125 15.3684 7.17844 12.8738 6.76031C12.7762 6.74306 12.6762 6.74531 12.5795 6.76693C12.4828 6.78855 12.3913 6.82911 12.3104 6.88627C12.2295 6.94343 12.1607 7.01606 12.108 7.09997C12.0553 7.18387 12.0198 7.27738 12.0034 7.3751C11.9871 7.47282 11.9902 7.57281 12.0128 7.66929C12.0353 7.76577 12.0767 7.85684 12.1346 7.93723C12.1925 8.01762 12.2658 8.08574 12.3502 8.13765C12.4345 8.18957 12.5284 8.22425 12.6262 8.23969ZM20.25 18.75V16.5H3.75V18.75H20.25Z"
                    fill="#D04F32" />
                </svg>

                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="<%= progressPercent %>" aria-valuemin="0" aria-valuemax="100"
                    style="width: <%= progressPercent %>%"></div>
                </div>

                <p class="reportPercent">
                  <%= progressPercent %>%
                </p>
              </div>
            </div>
            <div class="indvidualReport">
              <h5 class="indvidualReportHeading">Completed Profile</h5>
              <div class="reportComplrtion">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M20.7375 9.75179C20.4009 9.4 20.0527 9.0375 19.9214 8.71875C19.8 8.42679 19.7929 7.94286 19.7857 7.47411C19.7723 6.60268 19.758 5.61518 19.0714 4.92857C18.3848 4.24196 17.3973 4.22768 16.5259 4.21429C16.0571 4.20714 15.5732 4.2 15.2812 4.07857C14.9634 3.94732 14.6 3.59911 14.2482 3.2625C13.6321 2.67054 12.9321 2 12 2C11.0679 2 10.3687 2.67054 9.75179 3.2625C9.4 3.59911 9.0375 3.94732 8.71875 4.07857C8.42857 4.2 7.94286 4.20714 7.47411 4.21429C6.60268 4.22768 5.61518 4.24196 4.92857 4.92857C4.24196 5.61518 4.23214 6.60268 4.21429 7.47411C4.20714 7.94286 4.2 8.42679 4.07857 8.71875C3.94732 9.03661 3.59911 9.4 3.2625 9.75179C2.67054 10.3679 2 11.0679 2 12C2 12.9321 2.67054 13.6312 3.2625 14.2482C3.59911 14.6 3.94732 14.9625 4.07857 15.2812C4.2 15.5732 4.20714 16.0571 4.21429 16.5259C4.22768 17.3973 4.24196 18.3848 4.92857 19.0714C5.61518 19.758 6.60268 19.7723 7.47411 19.7857C7.94286 19.7929 8.42679 19.8 8.71875 19.9214C9.03661 20.0527 9.4 20.4009 9.75179 20.7375C10.3679 21.3295 11.0679 22 12 22C12.9321 22 13.6312 21.3295 14.2482 20.7375C14.6 20.4009 14.9625 20.0527 15.2812 19.9214C15.5732 19.8 16.0571 19.7929 16.5259 19.7857C17.3973 19.7723 18.3848 19.758 19.0714 19.0714C19.758 18.3848 19.7723 17.3973 19.7857 16.5259C19.7929 16.0571 19.8 15.5732 19.9214 15.2812C20.0527 14.9634 20.4009 14.6 20.7375 14.2482C21.3295 13.6321 22 12.9321 22 12C22 11.0679 21.3295 10.3687 20.7375 9.75179ZM16.0768 10.3625L11.0768 15.3625C11.0104 15.4289 10.9317 15.4816 10.845 15.5175C10.7582 15.5535 10.6653 15.572 10.5714 15.572C10.4776 15.572 10.3846 15.5535 10.2979 15.5175C10.2112 15.4816 10.1324 15.4289 10.0661 15.3625L7.92321 13.2196C7.78919 13.0856 7.71389 12.9038 7.71389 12.7143C7.71389 12.5247 7.78919 12.343 7.92321 12.2089C8.05724 12.0749 8.23903 11.9996 8.42857 11.9996C8.61812 11.9996 8.7999 12.0749 8.93393 12.2089L10.5714 13.8473L15.0661 9.35179C15.1324 9.28542 15.2112 9.23278 15.2979 9.19686C15.3846 9.16095 15.4776 9.14246 15.5714 9.14246C15.6653 9.14246 15.7582 9.16095 15.8449 9.19686C15.9316 9.23278 16.0104 9.28542 16.0768 9.35179C16.1432 9.41815 16.1958 9.49694 16.2317 9.58365C16.2676 9.67036 16.2861 9.76329 16.2861 9.85714C16.2861 9.951 16.2676 10.0439 16.2317 10.1306C16.1958 10.2173 16.1432 10.2961 16.0768 10.3625Z"
                    fill="#002FD8" />
                </svg>

                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="<%= completionPercentage %>" aria-valuemin="0" aria-valuemax="100"
                    style="width: <%= completionPercentage %>%"></div>
                </div>

                <p class="reportPercent">
                  <%= completionPercentage %>%
                </p>
              </div>
            </div>
            <div class="indvidualReport">
              <h5 class="indvidualReportHeading">Lorum Ipsum</h5>
              <div class="reportComplrtion">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M19.5 3.75H4.5C4.10218 3.75 3.72064 3.90804 3.43934 4.18934C3.15804 4.47064 3 4.85218 3 5.25V10.7597C3 19.1616 10.1081 21.9478 11.5312 22.4203C11.8351 22.5243 12.1649 22.5243 12.4688 22.4203C13.8938 21.9469 21 19.1606 21 10.7587V5.25C21 4.85218 20.842 4.47064 20.5607 4.18934C20.2794 3.90804 19.8978 3.75 19.5 3.75ZM4.56187 12H12V5.25H19.5V10.7597C19.5003 11.1733 19.4797 11.5866 19.4381 11.9981H12V20.9981C10.8056 20.5997 5.21156 18.3994 4.56187 12Z"
                    fill="#377849" />
                </svg>

                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>

                <p class="reportPercent">90%</p>
              </div>
            </div>
            <p class="learnMoreAchivement">Learn more about achievements</p>

          </div>
        </div>
        <div class="portfolioUser">
          <div class="topPortfolio">
            <h2 class="portfolioHeading">Portfolio</h2>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40"
              height="40" viewBox="0 0 256 256" style="margin-bottom: 8px;" xml:space="preserve">

              <defs>
              </defs>
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 63.854 49.825 c -0.007 -0.022 -0.021 -0.041 -0.028 -0.063 c -0.035 -0.102 -0.08 -0.201 -0.132 -0.297 c -0.02 -0.038 -0.037 -0.077 -0.06 -0.114 c -0.079 -0.126 -0.169 -0.247 -0.279 -0.357 L 36.047 21.685 c -3.574 -3.574 -9.39 -3.574 -12.964 0 l -1.398 1.398 c -3.574 3.574 -3.574 9.39 0 12.964 l 27.309 27.309 c 0.11 0.11 0.231 0.2 0.357 0.279 c 0.037 0.023 0.076 0.039 0.114 0.06 c 0.097 0.052 0.195 0.097 0.297 0.132 c 0.022 0.008 0.041 0.021 0.063 0.028 l 16.592 5.059 C 66.608 68.972 66.805 69 67 69 c 0.522 0 1.033 -0.205 1.414 -0.586 c 0.522 -0.522 0.715 -1.29 0.499 -1.997 L 63.854 49.825 z M 24.513 25.911 l 1.398 -1.398 c 2.016 -2.015 5.293 -2.014 7.308 0 l 25.895 25.895 l -8.705 8.705 L 24.513 33.219 C 22.499 31.204 22.499 27.926 24.513 25.911 z M 54.178 61 L 61 54.178 l 2.992 9.814 L 54.178 61 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path
                  d="M 45 0 C 20.187 0 0 20.187 0 45 c 0 24.813 20.187 45 45 45 c 24.813 0 45 -20.187 45 -45 C 90 20.187 69.813 0 45 0 z M 45 86 C 22.393 86 4 67.607 4 45 S 22.393 4 45 4 s 41 18.393 41 41 S 67.607 86 45 86 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: grey; fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
          <div class="portfolioImgs">
            <img src="/images/portfolio.png" alt="">
            <img src="/images/portfolio.png" alt="">

          </div>


        </div>
        <div class="portfolioUser">
          <div class="topPortfolio">
            <h2 class="portfolioHeading">Experience</h2>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40"
              height="40" viewBox="0 0 256 256" style="margin-bottom: 8px;" xml:space="preserve">

              <defs>
              </defs>
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 63.854 49.825 c -0.007 -0.022 -0.021 -0.041 -0.028 -0.063 c -0.035 -0.102 -0.08 -0.201 -0.132 -0.297 c -0.02 -0.038 -0.037 -0.077 -0.06 -0.114 c -0.079 -0.126 -0.169 -0.247 -0.279 -0.357 L 36.047 21.685 c -3.574 -3.574 -9.39 -3.574 -12.964 0 l -1.398 1.398 c -3.574 3.574 -3.574 9.39 0 12.964 l 27.309 27.309 c 0.11 0.11 0.231 0.2 0.357 0.279 c 0.037 0.023 0.076 0.039 0.114 0.06 c 0.097 0.052 0.195 0.097 0.297 0.132 c 0.022 0.008 0.041 0.021 0.063 0.028 l 16.592 5.059 C 66.608 68.972 66.805 69 67 69 c 0.522 0 1.033 -0.205 1.414 -0.586 c 0.522 -0.522 0.715 -1.29 0.499 -1.997 L 63.854 49.825 z M 24.513 25.911 l 1.398 -1.398 c 2.016 -2.015 5.293 -2.014 7.308 0 l 25.895 25.895 l -8.705 8.705 L 24.513 33.219 C 22.499 31.204 22.499 27.926 24.513 25.911 z M 54.178 61 L 61 54.178 l 2.992 9.814 L 54.178 61 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path
                  d="M 45 0 C 20.187 0 0 20.187 0 45 c 0 24.813 20.187 45 45 45 c 24.813 0 45 -20.187 45 -45 C 90 20.187 69.813 0 45 0 z M 45 86 C 22.393 86 4 67.607 4 45 S 22.393 4 45 4 s 41 18.393 41 41 S 67.607 86 45 86 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: grey; fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
          <div class="experienceIndviduual">
            <div class="portfolioMiniImg">
              <img src="/images/experience.png" alt="">
            </div>
            <div>
              <p class="experienceHeading">UX/UI Designer</p>
              <p class="experienceCatagorey">Digisaur | Design Agency</p>
              <p class="experienceNormal">May 2023 - Present  3 mos</p>
              <p class="experienceNormal"></p>Lahore, Punjab, Pakistan </p>
            </div>
          </div>
          <div class="experienceIndviduual">
            <div class="portfolioMiniImg">
              <img src="/images/experience.png" alt="">
            </div>
            <div>
              <p class="experienceHeading">UX/UI Designer</p>
              <p class="experienceCatagorey">Digisaur | Design Agency</p>
              <p class="experienceNormal">May 2023 - Present  3 mos</p>
              <p class="experienceNormal"></p>Lahore, Punjab, Pakistan </p>
            </div>
          </div>


        </div>
        <div class="portfolioUser">
          <div class="topPortfolio">
            <h2 class="portfolioHeading">Certification</h2>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40"
              height="40" viewBox="0 0 256 256" style="margin-bottom: 8px;" xml:space="preserve">

              <defs>
              </defs>
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 63.854 49.825 c -0.007 -0.022 -0.021 -0.041 -0.028 -0.063 c -0.035 -0.102 -0.08 -0.201 -0.132 -0.297 c -0.02 -0.038 -0.037 -0.077 -0.06 -0.114 c -0.079 -0.126 -0.169 -0.247 -0.279 -0.357 L 36.047 21.685 c -3.574 -3.574 -9.39 -3.574 -12.964 0 l -1.398 1.398 c -3.574 3.574 -3.574 9.39 0 12.964 l 27.309 27.309 c 0.11 0.11 0.231 0.2 0.357 0.279 c 0.037 0.023 0.076 0.039 0.114 0.06 c 0.097 0.052 0.195 0.097 0.297 0.132 c 0.022 0.008 0.041 0.021 0.063 0.028 l 16.592 5.059 C 66.608 68.972 66.805 69 67 69 c 0.522 0 1.033 -0.205 1.414 -0.586 c 0.522 -0.522 0.715 -1.29 0.499 -1.997 L 63.854 49.825 z M 24.513 25.911 l 1.398 -1.398 c 2.016 -2.015 5.293 -2.014 7.308 0 l 25.895 25.895 l -8.705 8.705 L 24.513 33.219 C 22.499 31.204 22.499 27.926 24.513 25.911 z M 54.178 61 L 61 54.178 l 2.992 9.814 L 54.178 61 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path
                  d="M 45 0 C 20.187 0 0 20.187 0 45 c 0 24.813 20.187 45 45 45 c 24.813 0 45 -20.187 45 -45 C 90 20.187 69.813 0 45 0 z M 45 86 C 22.393 86 4 67.607 4 45 S 22.393 4 45 4 s 41 18.393 41 41 S 67.607 86 45 86 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: grey; fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
          <div class="experienceIndviduual">
            <div class="portfolioMiniImg">
              <img src="/images/Certificate.png" alt="">
            </div>
            <div>
              <p class="experienceHeading">Foundations of User Experience (UX) Design</p>
              <p class="experienceCatagorey">Coursera</p>
              <p class="experienceNormal">Issued Apr 2023</p>
              <p class="experienceNormal">Credential ID ASKJ7PBQ2H4R</p>
              <a class="viewCertificate" href="">
                <p class="experienceNormal">View Certificate</p>
              </a>

            </div>
          </div>
          <div class="experienceIndviduual">
            <div class="portfolioMiniImg">
              <img src="/images/Certificate.png" alt="">
            </div>
            <div>
              <p class="experienceHeading">Foundations of User Experience (UX) Design</p>
              <p class="experienceCatagorey">Coursera</p>
              <p class="experienceNormal">Issued Apr 2023</p>
              <p class="experienceNormal">Credential ID ASKJ7PBQ2H4R</p>
              <a class="viewCertificate" href="">
                <p class="experienceNormal">View Certificate</p>
              </a>

            </div>
          </div>


        </div>

      </div>
      <!-- If entered -->

    </div>



    </body>
    <script>
      // Ensure this script block is part of the EJS template where you have access to `organization`
      document.addEventListener('DOMContentLoaded', function () {
        // Parse the JSON string to convert it into a JavaScript object
        const organizationObject = JSON.parse('<%- JSON.stringify(organization) %>');
        const organizationId = organizationObject._id;
    
        // Now you have the organizationId on the client side
        console.log("Logged-in organization ID:", organizationId);
    
       
      });
    </script>

    <script>
      function mute() {
        let isMuted = false;

        function toggleMute() {
          let vi = document.getElementById("modalvideo");
          isMuted = !isMuted; // Toggle the muted state
          vi.muted = isMuted;
        }

        function muteOrUnmute() {
          let vi = document.getElementById("modalvideo");

          if (vi.muted) {
            // If currently muted, unmute
            vi.muted = false;
            isMuted = false;
          } else {
            // If currently not muted, mute
            vi.muted = true;
            isMuted = true;
          }
        }

        // Example of usage (e.g., bind this function to a button click)
        muteOrUnmute();




      }
      let currentSelected;

      // Set the initial color for the first SVG
      document.getElementById("svg1").style.fill = "#5C47CD";
      currentSelected = "svg1";

      function changeColor(element) {
        const clickedId = element.querySelector('svg').id;

        if (currentSelected !== clickedId) {
          // Reset color for the previously selected SVG
          document.getElementById(currentSelected).style.fill = "#0E0D15";

          // Change color for the clicked SVG
          element.querySelector('svg').style.fill = "#5C47CD";
          currentSelected = clickedId;
        }
      }

      // to add tag

      document.addEventListener('DOMContentLoaded', function () {
        var dropDownContent = document.getElementById('dropdownContent');
        var homeTags = document.querySelector('.homeTags');

        document.getElementById('dropdownLabel').addEventListener('hover', function () {
          dropDownContent.style.display = (dropDownContent.style.display === 'block') ? 'none' : 'block';
        });

        dropDownContent.addEventListener('click', function (event) {
          if (event.target.tagName === 'P') {
            var tagName = event.target.textContent.trim();
            var newTag = document.createElement('div');
            newTag.className = 'homeIndvidualTag';
            newTag.textContent = tagName;
            homeTags.appendChild(newTag);
          }
        });
      });

      // 


      var video1 = document.getElementById('videoPlayer');
      var video2 = document.getElementById('videoPlayer2');
      var isPlaying1 = false;
      var isPlaying2 = false;

      // Set up Intersection Observer for videoPlayer 
      var observer1 = new IntersectionObserver(function (entries) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            if (!isPlaying1) {
              video1.play();
              isPlaying1 = true;
            }
          } else {
            if (isPlaying1) {
              video1.pause();
              isPlaying1 = false;
            }
          }
        });
      }, { threshold: 0.5 });

      observer1.observe(video1);

      // Set up Intersection Observer for videoPlayer2
      var observer2 = new IntersectionObserver(function (entries) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            if (!isPlaying2) {
              video2.play();
              isPlaying2 = true;
            }
          } else {
            if (isPlaying2) {
              video2.pause();
              isPlaying2 = false;
            }
          }
        });
      }, { threshold: 0.5 });

      observer2.observe(video2);

      // Toggle mute/unmute on videoPlayer click
      video1.addEventListener('click', function () {
        video1.muted = !video1.muted;
      });

      // Toggle mute/unmute on videoPlayer2 click
      video2.addEventListener('click', function () {
        video2.muted = !video2.muted;
      });




    </script>
    <script>
      document.getElementById('toggleButtonpar').addEventListener('click', function () {
        const aboutPara = document.getElementById('aboutParaper');
        if (aboutPara.style.maxHeight) {
          aboutPara.style.maxHeight = null;
        } else {
          aboutPara.style.maxHeight = aboutPara.scrollHeight + 'px';
        }
      });
    </script>
    <%-include('../partials/bottomNav') %>

      </html>